# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

node_modules

logs
*.log

.DS_Store
.fleet
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.env
.env.*
!.env.example
!.env.production

.antigravitycli/

context/
DESIGN.md
REFERENSI/

favicon_mds/
